body {
  background-color: #FFFEFC;
}

a:hover {
  color: #0000ff;
}

.menu li:not([class]) a, .copyright a {
  border-bottom: none;
}

.masthead h1 {
  margin-bottom: 0;
}

.masthead h1 a img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.project-desc {
  line-height: 1.25;
}

.site-name {
  text-align: right;
  margin-top: 0.3em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.5em;
}

@media (max-width: 980px) {
  .site-name {
    text-align: center;
  }
}

.paper-title {
  margin-bottom: 0;
}

.media {
  margin-top: 0;
  margin-bottom: 0.2em;
}

.abstract {
  font-size: 0.8em;
  line-height: 1.5;
  text-align: justify;
}
